/*CSS for the Tabs, passed in the components*/
.tab-list {  border-bottom: 3px solid #5e3019;
    margin-top: 20px;
    text-align: center;
    /*-webkit-box-shadow: 2px 13px 22px 4px #000000;
    box-shadow: 2px 13px 22px 4px #000000;*/
}

.tab-list-item {
    color:#ebc034;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color:#cca421;
    color: #5e3019;
    border: solid #5e3019;
    border-width: 10px 1px 0 1px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
